.italicize {
    font-style: italic;
}

.banner-text, .citation-container, .conclusion-container p {
    color: white;
}

.content-container {
    display: flex;
    width: 100%;
    height: 100%;
    /* border: solid 3px red; */
}

.content-left {
    width: 40%;
    height: 55rem;
    background-image: url("/assets/images/background-night-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* border: solid 3px green; */
}

.content-right {
    width: 100%;
    /* border: solid 3px blue; */
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    padding: 1rem 0;
    background-color: rgba(1, 1, 7, 0.673);
}

.banner img {
    height: 10rem;
}

.banner-text {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 5rem;
}

.citation-container {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.75rem;
}

.citation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25rem;
}

.citation-container a {
    text-decoration: none;
    color: white;
}

.content-right {
    padding: 6rem 0;
    background-color: black;
}

.cta, .form-container, .conclusion-container {
    padding: 0 4rem;
    box-sizing: border-box;
}

.cta {
    max-width: 70ch;
    font-family: 'Ubuntu', sans-serif;
    color: lightgray;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.form-container {
    width: 100%;
    background-color: rgb(2, 2, 2);
    box-shadow: 0 4px 8px -2px rgb(75, 75, 75);
}

.form-header {
    font-family: 'Ubuntu', sans-serif;
    color: lightgray;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

label {
    display: inline-block;
    color: lightgray;
    margin-bottom: 0.5rem;
}

input {
    width: 90%;
    border: solid 2px gray;
    border-radius: 0.25rem;
    background-color: rgb(2, 2, 2);
    margin-bottom: 1rem;
    color: white;
}

input:focus {
    outline: none;
    border: solid 2px goldenrod;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.button-container button {
    cursor: pointer;
    background-color: black;
    border: solid 2px goldenrod;
    color: goldenrod;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.button-container button:hover {
    background-color: goldenrod;
    border: solid 2px goldenrod;
    color: black;
}

.conclusion-container {
    margin-top: 4rem;
}

.conclusion-container a {
    text-decoration: none;
    color: goldenrod;
}

.conclusion-container a:hover {
    color: white;
}